{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": "states:StartExecution",
            "Resource": "${state_machine_arn}",
            "Effect": "Allow"
        }
    ]
}
